.sidenav{
    width: 150px;
    background-color: black;
}

.sidenav a{
    font-size: 1.1rem;
    color: #fff;
}

.sidenav i{
    padding-right: 5px;
}

.content{
    padding: 16px;
    background-color: #fff;
}